
body{ 
	background-image: url("../img/page-bg-op.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.main-region{
	background-color: #fff;
	min-width: 35rem;
	max-width: 62.5rem;
	margin: auto;
	padding: 3.5rem 2rem;
}
.main-region h2{
	font-family: 'Pathway Gothic One', sans-serif;
	color: #385385;
	text-transform: uppercase;
	font-size: 1.5rem;
	padding: 1rem 0;
}
.main-region h4{
	color: #385385;
	font-size: 0.875rem;
	padding-top: 1rem;
}
.main-region p{
	color: #4e5050;
	font-size: 0.75rem;
}
.top-button{
	background: #38afe5;
	border-radius: 50%;
	position: fixed;
	right:  0.25rem;
	bottom: 16rem;
	transform: rotate(90deg);
    width: 1.7rem;
    height: 1.7rem;
    text-align: center;
    line-height: 1.7;
}
.top-button a{
	text-decoration: none;
	color: #fff;
}
.offers div{
	display: inline-block;
	vertical-align: top;
	text-align: left;
	width: 50%;
}
.offers li{
	color: #385385;
	font-size: 0.875rem;
	font-weight: bold;
	margin-bottom: 1rem;
	padding-left: 0;
	text-align: left;
}
.offer-list{
	columns: 2;
	list-style-type: none;
}
.list-item::before{
	content: "\2192";
	color: blue;
	display: inline-block;
}
.principles-list{
	counter-reset: list;
}
.principles-text{
	padding-left: 2.5rem;
}
.no-gutters{
	padding: 0;
}
.principles::before {
	color: white;
	background: #38afe5;
	border: 1px solid #4998ba;
	border-radius: 50%;
	counter-increment: list;
	content: counter(list);
	width: 1.7rem;
    height: 1.7rem;
    text-align: center;
    font-weight: normal;
    display: inline-block;
	margin-right: 0.75rem;
	line-height: 1.7;
}
.frame{
	max-width: 17rem;
	border: 1px solid #e9e6e6;
	border-radius: 3px;
	background-color: #f2efef;
	padding: 1rem;
	border-bottom: none;
	margin: auto;
}
hr{
	margin: 2.25rem 0;
}
div .author-name{
	text-align: center;
	font-size: 0.875rem;
	padding-top: 1.875rem;
}
.author-position{
	text-align: center;
}
.frame{
	position: relative;
}
.frame:after{
	content: '';
	position: absolute;
    top: 100%;
    left: 50%;
	transform: translate(-50%);
    display: inline-block;
    width: 0;
    height: 0;
	border: solid;
    border-width: 26.0px 15px 0 15px;
    border-color: #f2efef transparent transparent transparent;
}