// // Utilities
// // @import 'colors';
// // @import 'mixin';


.socials{
	@include center-flex ('horizontal')
	padding: 1.25rem;
}

%icon{
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	@media(min-width: 768px){
		width: 2.25rem;
		height: 2.25rem;
	}

	&:hover{
		transform: scale(1.2);
		filter: saturate(8);
	}
}

$icons: twitter, facebook, google, linkedin;
	@each $icon in $icons {
	.icon-#{$icon}{
		@extend %icon;
		background-image: url('../img/socials/#{$icon}.svg');
		margin: 0 0.5rem;
		cursor: pointer;
	}
}
