footer{
	background-color: #30455b;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	font-family: Arial;
	font-size: 16px;
	padding: 40px;
	line-height: 1.5;
	text-transform: uppercase;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	box-sizing: border-box;
}
li a{
	color: #fff;
	text-decoration: none;
}
li p{
	color: #fff;
	margin: 0;
}
.mailto{
	text-transform: lowercase;
}

.socials{
	display: flex;
	justify-content: center;
	padding: 20px;
}
 .twitter { 
	display: inline-block;
	background: url(../img/sprite.png)no-repeat;
 	background-position: -40px -40px; 
 	width: 40px; 
 	height: 40px; 
 	margin-right: 20px;
}
.fb { 	
	display: inline-block;
	background: url('../img/sprite.png')no-repeat;
	background-position: -0px -0px; 
	width: 40px; 
	height: 40px; 
	margin-right: 20px;
}
.google { 
	display: inline-block;
	background: url('../img/sprite.png')no-repeat;
	background-position: -40px -0px; 
	width: 40px; 
	height: 40px; 
	margin-right: 20px;
}
.linkedin { 
	display: inline-block;
	background: url('../img/sprite.png')no-repeat;
	background-position: -0px -40px; 
	width: 40px;
	height: 40px;
	margin-right: 20px;
}
.copyright{
	margin-top: 0;
	color: #fff;
	font-family: Arial;
	font-size: 12px;
	text-align: center;
}
.twitter:hover{
	 filter: saturate(800%);
}
.fb:hover{
	 filter: saturate(800%);
}
.google:hover{
	 filter: saturate(800%);
}
.linkedin:hover{
	 filter: saturate(800%);
}