.footer{
	background-color: #30455b;
	font-family: Arial, sans-serif;;
	font-size: 0.85rem;
	padding: 1rem 4rem 2.5rem;
	line-height: 1.5;
	text-transform: uppercase;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.footer-wrap{
	min-width: 30rem;
	max-width: 62.5rem;
	margin: auto;
}
.footer__column{
	list-style: none;
	color: #fff;
}
.footer__link{
	color: #fff;
	text-decoration: none;
}
.footer__contact{
	color: #fff;
	margin: 0;
}
.footer__mailto{
	color: #fff;
	text-decoration: none;
	text-transform: lowercase;
	font-size: 0.625rem;
}
.footer__phone{
	font-size: 0.625rem;
}
.footer__phone::before{
	content: '';
	background-image: url(../img/phone.svg);
	background-size: cover;
	background-position: center;
	display: inline-block;
	vertical-align: middle;
    width: 0.6rem;
    height: 0.6rem;
	padding-top: 0.5rem;
	margin-right: 0.4rem;
}
.footer__mailto::before{
	content: '';
	background-image: url(../img/mail.svg);
	background-size: cover;
	background-position: center;
	display: inline-block;
	vertical-align: middle;
    width: 0.5rem;
    height: 0.7rem;
	margin-right: 0.5rem;
	padding-left: 0.5rem;
}
.footer__column--flex{
	-ms-flex-preferred-size: 100%;
	    flex-basis: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}
.footer__phone--hidden-in-mob{
	display: none;
}

.footer-wrap__copyright{
	margin-top: 0;
	color: #fff;
	font-family: Arial;
	font-size: 0.56rem;
	text-align: center;
}
