.gallery__item-wraper{
	position: relative;
	margin-bottom: 2rem;	
}
.gallery__item-wraper--disable-item{
	display: none;
}
.gallery__item-wraper--visible-on-desktop{
	display: none;
}
.gallery__overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
	background-color: #000;
}
.gallery__zoom-in{
	background-image: url(../img/zoom-in.svg);
	background-repeat: no-repeat;
	position: absolute;
	background-size: cover;
    width: 2rem;
    height: 2rem;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}
.gallery__item-wraper--opacity:hover .gallery__overlay{
	opacity: 0.5;
}