
@media(min-width: 768px){
	.menu__logo-link{
		font-size: 3.65rem;
	}
	.menu__link{
		font-size: 1.75rem;
	}
	.ssubmenu__link{
		font-size: 1.25rem;
	}

	.main-region{
		padding: 5rem 2.5rem;
	}	
	.gallery{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	.gallery__item-wrapper {
		flex-basis: 49%;
	}	
	/*.disable-item{
		display: inline-block;
	}*/
	.footer{
		flex-basis: 25%;
		font-size: 1rem;
	}
	.footer__column{
		flex-grow: 0;
		display: block;
	}
	.footer__phone::before{
		display: none;
	}
	.footer__mailto::before{
		display: none;
	}
	.footer__hiden-in-mob{
		display: inline-block;
	}

/*	.gallery-item:nth-child(6){
		margin-bottom: 2rem;
	}
	.gallery-item:nth-last-child(-n+3){
		margin-bottom: 0;
	}*/
	
	.footer__mailto{
		font-size: 0.75rem;
	}
	.footer__phone{
		font-size: 0.75rem;
	}
	.footer-wrap__copyright{
		font-size: 0.75rem;
	}
	.footer__plus{
		display: none;
	}
}

@media(min-width: 1024px){
	.menu{
		width: 100%;
		justify-content: space-between;
	}
	.menu__item{
		flex-basis: auto;
	}	
	.menu__logo-item{
		flex-basis: auto;
		order: 2;
	}
	.submenu__link{
		font-size: 1.25rem;
	}
	.submenu{
		top: 8rem;
	}
	.main-region{
		padding: 5.25rem 4rem;
	}
	.main-region__title{
		font-size: 2rem;
	}
	.gallery__item-wraper{
		flex-basis: 32%;
	}
/*	.visible-in-desktop{
		display: inline-block;
	}*/
	
	
	.top-button{
		right: 1.5rem;
		width: 2rem;
    	height: 2rem;
    	line-height: 2;
	}

}
