
@media(min-width: 768px){
	.menu__logo-link{
		font-size: 3.65rem;
	}
	.menu__link{
		font-size: 1.75rem;
	}
	.submenu__link{
		font-size: 1.25rem;
	}
	.main-wrapper{
		padding: 5rem 2.5rem;
	}	
	.gallery{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-flow: row wrap;
		        flex-flow: row wrap;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.gallery__item-wraper {
		-ms-flex-preferred-size: 49%;
		    flex-basis: 49%;
	}	
	.gallery__item-wraper--disable-item{
		display: inline-block;
		margin-bottom: 0;
	}
	.footer__column{
		-ms-flex-preferred-size: 25%;
		    flex-basis: 25%;
		font-size: 1rem;
	}
	.footer__column--flex{
		-webkit-box-flex: 0;
		    -ms-flex-positive: 0;
		        flex-grow: 0;
		display: block;
	}
	.footer__phone::before{
		display: none;
	}
	.footer__mailto::before{
		display: none;
	}
	.footer__phone--hidden-in-mob{
		display: inline-block;
	}
	.footer__mailto{
		font-size: 0.75rem;
	}
	.footer__phone{
		font-size: 0.75rem;
	}
	.footer-wrap__copyright{
		font-size: 0.75rem;
	}
	.footer__phone--plus{
		display: none;
	}
}

@media(min-width: 1024px){
	.menu{
		width: 100%;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.menu__item{
		-ms-flex-preferred-size: auto;
		    flex-basis: auto;
	}	
	.menu__logo-item{
		-ms-flex-preferred-size: auto;
		    flex-basis: auto;
		-webkit-box-ordinal-group: 3;
		    -ms-flex-order: 2;
		        order: 2;
	}
	.submenu__link{
		font-size: 1.25rem;
	}
	.submenu{
		top: 8rem;
	}
	.main-region{
		padding: 5.25rem 4rem;
	}
	.main-region__title{
		font-size: 2rem;
	}
	.gallery__item-wraper{
		-ms-flex-preferred-size: 32%;
		    flex-basis: 32%;
	}
	.gallery__item-wraper--visible-on-desktop{
		display: inline-block;
		margin-bottom: 0;
	}
	.top-button{
		right: 1.5rem;
		width: 2rem;
    	height: 2rem;
    	line-height: 2;
	}

}