
.gallery-item{
	margin-bottom: 2rem;
	position: relative;	
} 
img{
	display: block;
	width: 100%;
	height: auto;
}
.gallery-item:nth-child(6){
	margin-bottom: 0;
}
.disable-item{
	display: none;
}
.visible-in-desktop{
	display: none;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #000;
}
.zoom-in{
	background-image: url(../img/zoom.png);
	background-repeat: no-repeat;
	position: absolute;
	background-size: cover;
    width: 2rem;
    height: 2rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.gallery-item:hover .overlay{
	opacity: 0.5;
}
