*
{margin: 0;
padding: 0;
box-sizing: border-box;
}
body{ 
	background-image: url("../img/page-bg-op.jpg");
	background-repeat: no-repeat;
	background-position: center;
}
.main-region{
	background-color: #fff;
	min-width: 480px;
	max-width: 1000px;
	margin: auto;
	padding: 3.75rem 2.25rem;
	box-sizing: border-box;
}
.main-region h2{
	font-family: 'Pathway Gothic One', sans-serif;
	color: #385385;
	text-transform: uppercase;
	font-size: 1.75rem;
	padding-bottom: 2rem;
}
.top-button{
	display: inline-block;
	background: #38afe5;
	border-radius: 50%;
	padding: 0.5rem 0.75rem;
	position: fixed;
	right: 0;
	bottom: 14.5rem;
}
.top-button a{
	text-decoration: none;
	color: #fff;
