input{
  border-radius: 0.25rem;
  line-height: 1.25rem;
}
p{
  margin-bottom: 0;
  font-weight: bold;
  font-family: Tahoma, sans-serif;
}

button{
  border-radius: 0.25rem;
  padding: 0.25rem;
  margin-top: 1rem;
  margin-right: 1rem;
  font-weight: bold;
  font-family: Tahoma, sans-serif;
}

table{
  border-collapse: collapse;
  border-spacing: 0px;
  margin-top: 1rem;
}
table, th, td{
  padding: 5px;
  border: 1px solid #808080;
}