.timer {
  font-size: 2rem;
}
.exercise {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.keyboard button {
  font-size: 1.125rem;
  width: 3rem;
  height: 3rem;
  border-radius: 0.25rem;
}
.keyboard__btn--active {
  border: 1px solid transparent;
  background-color: #03a9f4;
  color: #fff;
}

.inputData{
	height: 2rem;
  	border-radius: 0.25rem;
  	font-size: 1.125rem;
}

.bestScore{
	font-size: 2rem;
}
}